{% extends 'todos/base.html'%}

{% block content %}
    <h1>Update A Task</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                <input id="task_name" type="text" class="validate" name="title" value="{{ task.title }}">
                <label for="task_name" class="label">Task</label>
            </div>

            <div class="col s1"></div>

            <div class="col s5">
                <label for="Is_complete">Status</label>

                {% if task.status == True %}
                    <select class="browser-default" name="status" id="Is_complete" style="background-color: green;">
                        <option value="True">Complete</option>
                        <option value="False">Incomplete</option>
                    </select>
                {% else %}
                    <select name="status" id="Is_complete" class="browser-default" style="background-color: orange;">
                        <option value="False">Incomplete</option>
                        <option value="True">Complete</option>
                    </select>            
                {% endif %}
            </div>

            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="text">Details </label> 
                        <input type="text" name="text" id="" value="{{ task.text }}">
                    </div>
                </div>
            </div>

            <div class="col s5">
                <input type="date" name="created_at" id="task_created" value="{{ task.created_at|date:'Y-m-d' }}">
                <label for="task_created">Created On</label>
            </div>

            <div class="col s2"></div>

            <div class="col s5">
                <input type="date" name="completed_at" id="task_completed" value="{{ task.completed_at|date:'Y-m-d' }}">
                <label for="task_completed">Completed On</label>
            </div>

            <div class="col s12">
                <button class="waves-effect blue-grey darken-4 btn" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </div>

    </form>

    

    



{% endblock%}